.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 100vh;
    background-color: #f6f3f3f7;
 
  }
  .cube {
    margin-top: 10px;
    color: blue;
    padding-bottom: 20px;
  }
  
  .sidebar-item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #9a9a9a;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .sidebar-item.active {
    background-color: #e7eaee;
    color: #0d5af4;
  }
  .set {
    margin-top: 260px;
    color: #a0a0a0;
  } 
  